@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  text-align: center;
  max-width: 100%;
  /* background: #fed84e96; */
  background: #fbfbc5;
}
h1 {
  padding: 1rem;
  font-size: 4rem;
  margin-bottom: 2%;
  color: #0f0f0fc2;
}
.h3text {
  font-style: italic;
}
.input {
  max-width: 500px;
  height: 8vh;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  border: 0.1rem;
  font-style: italic;
  font-weight: bold;
  outline: none;
  padding: 0.5rem;
  border: 1px solid white;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.76);
}
.input:focus {
  box-shadow: 0rem 4px 8px 0rem rgba(0, 0, 0, 0.315);
}
.output {
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  max-width: 500px;
  font-style: italic;
  box-shadow: 0rem 4px 8px 0rem rgba(0, 0, 0, 0.315);

  font-weight: 600;
  font-size: 1.155rem;
  background-color: #f9fcf8ab;
}
.content {
  margin: auto;
}
.emoji {
  border-radius: 1.5rem;
  margin: auto;
  padding: 0.5rem;
}
.element {
  margin: 0.5rem;
}
